/Automatio_Testing_Framework_CristianCeban/.idea
/.idea
/Automatio_Testing_Framework_CristianCeban/
/Automatio_Testing_Framework_CristianCeban/.idea/compiler.xml
/Automatio_Testing_Framework_CristianCeban/.idea/encodings.xml
/Automatio_Testing_Framework_CristianCeban/.idea/jarRepositories.xml
/Automatio_Testing_Framework_CristianCeban/.idea/misc.xml
/Automatio_Testing_Framework_CristianCeban/.idea/vcs.xml

/.idea
/target
/.idea/workspace.xml
