/Automatio_Testing_Framework_CristianCeban/.idea/
/.idea/
/.idea/workspace.xml
/Automatio_Testing_Framework_CristianCeban/.idea/.gitignore
/Automatio_Testing_Framework_CristianCeban/.idea/compiler.xml
/Automatio_Testing_Framework_CristianCeban/.idea/encodings.xml
/Automatio_Testing_Framework_CristianCeban/.idea/jarRepositories.xml
/Automatio_Testing_Framework_CristianCeban/.idea/misc.xml
/Automatio_Testing_Framework_CristianCeban/.idea/vcs.xml
/.idea/workspace.xml
